@import "./../../assets/stylesheets/variables";

.container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 388px;
  margin: auto;

  @media screen and (max-width: $screen-sm) {
    width: 95%;
  }
}

.content {
  flex: 1;
  padding: 32px 10px;
}

@media (min-width: 768px) {
  .content {
    padding: 32px 10px 24px;
    margin-bottom: 20vh;
  }
}

.top {
  text-align: center;
  display: flex;
  justify-content: center;
}

.header {
  margin-bottom: 40px;

  a {
    text-decoration: none;
    display: flex;
  }
}

.logo {
  height: 60px;
  margin-right: 16px;
  vertical-align: top;
}

.title {
  text-align: left;

  h1 {
    color: $primary-color;
    position: relative;
    top: 2px;
    font-weight: 600;
    font-size: 28px;
    font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin-bottom: -8px;
  }

  b {
    font-size: 18px;
  }
}

.desc {
  margin-top: 12px;
  margin-bottom: 40px;
}
