@import "variables";
@import "layout";

.ant-timeline-item-tail {
  border-left-color: #cccccc;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #d2d2d2 !important;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #d2d2d2 !important;
}

.list-sort-demo-wrapper {
  position: relative;
  //background: #e6e6e6;
  //overflow: hidden;
  //height: 385px;
}

.list-sort-demo {
  margin: 20px auto;
  //max-width: 350px;
  width: 90%;
  cursor: url('http://gtms02.alicdn.com/tps/i2/T1_PMSFLBaXXcu5FDa-20-20.png') 10 10, pointer !important;
  position: relative;
  //height: 305px;
}

.list-sort-demo > div {
  overflow: hidden;
}

.list-sort-demo-list {
  background: #f0f2f5;
  border-radius: 6px;
  margin: 5px auto;
  padding: 10px;
  height: 70px;
  transition: box-shadow .5s, transform .5s;
}

.list-sort-demo-list.list-drag-selected {
  box-shadow: 0 8px 20px #E6E6E6;
  transform: scale(1.1) !important;
}

.list-sort-demo-icon {
  width: 20%;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  vertical-align: top;
}

.list-sort-demo-text {
  width: 80%;
  display: inline-block;
}

.list-sort-demo-text h1 {
  font-size: 18px;
}

.list-sort-demo-text p {
  font-size: 12px;
}

@media screen and (max-width: 320px) {
  .list-sort-demo-text h1 {
    font-size: 14px;
    line-height: 28px;
  }
}
