$primary-color: #5901b8;
$success: #52c41a;
$error: #f5222d;
$warning: #faad14;

$error-light: #fff1f0;

$disabled-color: #f9f9f9;

$primary-text-color: rgba(0, 0, 0, 0.85);

$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
